.row {
  padding-top: 50px;
}

.jr_pic {
  display: blocki;
  margin: 0 auto;
  text-align: center;
}

.col-md-12-title {
  text-align: center;
}

.aboutme_pic {
  display: blocki;
  margin: 0 auto;
  text-align: center;
}

.container_ol{
  width: 150px;
  margin: 0 auto;
}

p.subremark {
  font-size: 24px;
}

.img_row {
  min-height: 350px;
  padding-top: 25px;
}

.img_center {
  display: block;
  margin: 0 auto;
}

p.projects {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.bg-info-left {
  width: 60%;
  background-color: white;
  margin-left: 50px;
}

.bg-info-right {
  width: 25%;
  background-color: white;
  margin-left: auto;
  margin-right: 300px;
  width: 50%;
}


.me_row_title {
  min-height: 150px;
  padding-bottom: 0px;

}
.row_about {
  min-height: 350px;
}

.container_about {
  width: 200px;
   margin:0 auto;
}

.container_bullets {
  width: 300px;
  min-height: 20px;
  clear: both;


}
